<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>紅中</title>

		<link href="css/style.css" rel="stylesheet">
		<script src="js/main.js"></script>
	</head>

	<body>
		<header>
			<h1>紅中</h1>
			<p>有的人一分钟可以过完一生！</p>
			<ul>
				<li><a href="#">给我留言</a></li>
				<li><a href="#">关于我</a></li>
			</ul>
		</header>

		<div class="container">
			<div class="item">
				<h4 class="title"><a target="_blank" href="http://asoftmurmur.com/">A Soft Murmur</a></h4>
				<p class="desc">太多太多的时候我们需要静下心来！试试这个应用吧，至少让你觉得生活除了忙碌浮躁还有些别的什么。有Android APP，不过只能Google Play上下载（注意墙），IOS版本看似还在建造之中，建议记住这个网址直接访问。</p>
				<img src="img/asoftmurmur.png" alt="Snapshot of A Soft Murmur" />
			</div>
		</div>

		<footer>
			<p class="text-muted">&copy; 2017 hongzhong.</p>
		<footer>
	</body>
</html>
